#make_selection {
    text-align: center;
    vertical-align: baseline;
    font-size: 24px;
}

/* No Files */
.custom-no-files {
    text-align: center;
    color: red;
}

#drop-area {
    border: 2px dashed #ccc;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

#drop-area.highlight {
    border-color: green;
}

#fileElem {
    display: none;
}

/* Scrollable container */
.table-wrapper {
    max-height: 700px;
    /* Adjust height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    width: max-content;
}

thead th {
    position: sticky;
    top: 0;
    /* Fix the header at the top */
    /* background-color: #f8f9fa; /* Add background to prevent overlap */
    background-color: coral;
    z-index: 1;
    /* Ensure it stays on top */
}

.message {
    transition: opacity 1s ease;
    /* 1 second fade out effect */
    opacity: 1;
    /* Fully visible */
}

.message.fade-out {
    opacity: 0;
    /* Fully transparent */
}

/* Floating div in the top right corner */
.floating-upload {
    position: fixed;
    top: 85%;
    right: 20px;
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 5px;
    width: 210px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: move;
    z-index: 1000;
    resize: none;
    /* Prevent resizing */
    overflow: hidden;
    /* Prevent scrollbars */
    opacity: 0.85;
    /* Semi-transparent */
}

/* Close button */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

.close-btn:hover {
    color: red;
}

#sessionAlert {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s;
    /* Transition for fading */
    border-radius: 10px;
    /* Rounded corners */
}

#closeAlert {
    cursor: pointer;
    float: right;
    font-size: 20px;
    line-height: 20px;
    /* Center the close button vertically */
}